
body, h1, p {
    margin: 0;
    padding: 0;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Define styles for the colored boxes */
.box {
    width: 200px;
    height: 100px;
    margin: 0 10px; /* Add space in between the boxes horizontally */
    border: 2px solid #000; /* Add a border for better visibility */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add a subtle shadow for depth */
    transition: transform 0.2s ease-in-out; /* Add a hover effect */
}




.yellow {
    background-color: yellow;
}


.green {
    background-color: green;
}

.red {
    background-color: rgb(167, 114, 28);
}


.box:hover {
    transform: scale(1.05); /* Enlarge the box slightly on hover */
}
